*{
	padding:0;
	margin:0;
	
}
.header{
	min-height: 5vh;
	width: 100%;
    background-color: rgba(12, 76, 150, 0.865);
	opacity: 0.9;
	/*background-size: cover; rgba(69, 180, 235, 0.602); rgba(7, 98, 143, 0.751)*/
	background-position:center;
	position:relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 40px;
}
.nav-links{
	flex: 1;
	text-align: right;

}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color:aliceblue;
	text-decoration: none;
	font-size: 14px;
	font-family: serif;
}
/*.nav-links ul li::after{
	content: '';
	width: 100%;
	height: 2px;
	background-color:rgba(161, 228, 240, 0.503) ;
	/*display: block;
	margin: auto;
}*/

.nav-links ul li:hover{
	background:rgba(240, 240, 240, 0.303);
	border-radius:15px;
	transform: scale(1) translateY(-5%);
	transition: 0.5s;
	/*width:30%;
	transition: width 0.3s ease-in-out;*/
}

.text-box{
	width: 90%;
	color:azure;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 45px;
	font-family: serif;
}


nav .fa {   /*elrejti az ikonokat ha az oldalmerete teljes*/
	display: none;
}
/*-------------------------------------------------------------------------------------------------*/
.why {
	font-family: serif;
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	
}

.why h1{
	font-size: 25px;
	font-weight: 600;
	text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* állítsd be a megfelelő árnyékeffektust */
	margin-bottom: 50px;
}

.why p{
	color:rgb(5, 5, 7);
	line-height: 1.5;
    margin-bottom: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	text-align: center;
}
hr {
	border: none;
	border-top: 2px solid rgb(41, 116, 229); /* ad egy 3px széles, kék színű vonalat az elem tetejéhez */
	margin: 1px auto 10px; /* hozzáad margót az elem tetejéhez és aljához */
	margin-top: 0px;
	width: 41%;
	display: block;
	
}


/*----------------------------------------TEMAKOROK---------------------------------------------*/ 

body{
    background-color: #f1f2f3;
    font-family: sans-serif;
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    /*bottom: 50px;*/
}

.main-timeline .timeline {
    margin-bottom: 50px;
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: -90px;
    left: 0;
    bottom: 60px;
    right: 0px;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px;
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px;
}

.main-timeline .timeline:hover .icon:before {
    left: 3px;
}

.main-timeline .timeline:hover .icon:after {
    left: -3px;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;

}
#image{
        width: 75px; 
        height: auto;
}

.main-timeline .timeline-content {
    width: 47%;
    padding: 0px 0 20px 10px;
    float: right;
    /*margin-top: 10px; */
}
.main-timeline .timeline-content-l {
    width: 47%;
    padding: 10px 0 20px 10px;
    float: left;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: -10px 0 15px 40px;
    padding: 0px 0 20px 50px;
}

.main-timeline .description {
    margin-bottom: 0px;
   /* width: ;
   /* margin-top: -10px;*/
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before { /*vizszintes vonal*/
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .timeline-content-l {
        padding: 0px 10 0px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 5px 10px;
    }
    .main-timeline .timeline-content-l,
    .main-timeline .timeline:nth-child(2n) .timeline-content-l {
        width: 95%;
        text-align: center;
        padding: 15px 10px;
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

@media(max-width: 670px){ /* csokkentett oldalmerete*/
	.text-box h1{
		font-size: 25px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background-color:rgba(139, 189, 233, 0.826) ;
		height: 100vh;
		width: -200px;
		top:0;
		right: 0px;
		text-align: center;
		z-index: 2; /*eloterbe kerul azoknal melyeknek kisebb az index ertekuk*/
		transition: 1s;
	}

	nav .fa{
		display: block;/*
		position: absolute;
		top: 10px;  
		left: 150px;  */
		color: rgb(231, 240, 240);
		margin: 10px;
		font-size: 20px;
		cursor: pointer;
	}
	.nav-links ul{  
		padding: 25px; /*terkoz */
	}
	.header img {
		display: none;
	  }
	#demo {
		font-size: 14px;
	  }
}